<?xml version="1.0" encoding="UTF-8"?>
<rootconfig>
  <tests>
    <test name="FunctionLengthMarker">
      <option name="MarksAvailable"><value>0</value></option>
      <option name="SuggestionThreshold"><value>10</value></option>
      <option name="AcceptableThreshold"><value>20</value></option>
    </test>
    <test name="IndentationCheck">
      <option name="MarksAvailable"><value>1</value></option>
    </test>
    <test name="ConditionMarker">
      <option name="MarksAvailable"><value>2</value></option>
    </test>
    <test name="IdentifierMarker">
      <option name="MarksAvailable"><value>1</value></option>
    </test>
  </tests>
  <output name="JsonWriter">
  </output>
</rootconfig> 